<html>
  <head>William Miller's Portfolio</head>
  <body>
    <div>
        <h1><a href="/">William Miller's Portfolio</a></h1>
    </div>

    <div>
        <p>Published 4/8/2018 at 7:30pm</p>
        <h2><a href="">Titanic Survival Prediction</a></h2>
        <p>Here is some test text ladaladaladaladaladaladala</p>
    </div>

    <div>
        <p>Published 4/8/2018 at 7:40pm</p>
        <h2><a href="">Ames, Iowa House Price Prediction</a></h2>
        <p>Here is some more test text ladaladaladaladaladaladala</p>
    </div>
  </body>
</html>
